<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <h1 class="navlogo" routerLink="home">{{logo}}</h1>

            <span class="menu-btn">
                <img src="assets/list.svg" (click)="toggle()" alt="" class="menu-icon">
                <img src="assets/x.svg" (click)="toggle()" alt="" class="cls-icon">
            </span>

            <ul class="menu">
                <li class="menu-item" (click)="toggle()" routerLinkActive="menu-active" routerLink="home">Home</li>
                <li class="menu-item" (click)="toggle()" routerLinkActive="menu-active" routerLink="project">Project</li>
                <li class="menu-item" (click)="toggle()" routerLinkActive="menu-active" routerLink="education">Education</li>
                <li class="menu-item" (click)="toggle()" routerLinkActive="menu-active" routerLink="experience">Experience</li>
                <li class="menu-item" (click)="toggle()" routerLinkActive="menu-active" routerLink="opensource">Open Source</li>
                <li class="menu-item" (click)="toggle()" routerLinkActive="menu-active" routerLink="service">Services</li>
                <li class="menu-item" (click)="toggle()" routerLinkActive="menu-active" routerLink="contact">Contact</li>
            </ul>
        </div>
    </nav>
</body>
</html>