<section class="test-card">
    
    <span class="text-content">
        <h1 class="tag-line">“{{testinomial?.tagline}}”</h1>
        <h1 class="symbol">&#8220;</h1>
        <p class="user-experience">{{testinomial?.experience}}.</p>
    </span>
    
    <span class="user-box">
        <span class="image-box">
            <img src="assets/{{testinomial?.image}}.png" alt="loading..." class="avatar">
        </span>
       

        <span class="user-info">
            <h3 class="name">{{testinomial?.name}}</h3>
            <p class="title">{{testinomial?.role}}</p>
        </span>
    </span>
</section>