<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="aboutcontainer">
            <div class="box1 aboutimgtrans">
                <img src="assets/heatmap.svg" alt="">
                <div class="align-about-text">
                    <div class="about-text">
                        <h1>About Me</h1>
                        <h3>
                            Hi, I'm 22 years old full stack developer with 2 years of professional experience, I can create customized components and attractive UI for 
                            professional companies and personal projects, also I created applications with powerful and reliable backend using firebase and Asp.Net Web API.
                        </h3>
                    </div>
                </div>
            </div>
            <div  class="box2 aboutdesctrans">
                <div class="skill-pad">
                    <h1>My Skills</h1>

                <div class="skill">
                    <img src="assets/icons/html-5.svg" title="HTML5" alt="loading....">
                    <span><mat-progress-bar mode="determinate" value="90" color="accent"></mat-progress-bar></span>
                </div>
                
                <div class="skill">
                    <img src="assets/icons/css3.svg" title="CSS3" alt="loading....">
                    <span><mat-progress-bar mode="determinate" value="70" color="accent"></mat-progress-bar></span>
                </div>

                <div class="skill">
                    <img src="assets/icons/javascript.svg" title="JavaScript" alt="loading....">
                    <img src="assets/icons/typescript.svg" title="TypeScript" alt="loading....">
                    <img src="assets/icons/csharp.svg" title="firebase" alt="loading....">
                    <span><mat-progress-bar mode="determinate" value="90" color="accent"></mat-progress-bar></span>
                </div>

                <div class="skill">
                    <img src="assets/icons/angularjs.svg" title="Angular" alt="loading....">
                    <span><mat-progress-bar mode="determinate" value="85" color="accent"></mat-progress-bar></span>
                </div>

                <div class="skill">
                    <img src="assets/icons/netframework.svg" title="Asp.Net Core" alt="loading....">
                    <img src="assets/icons/firebase.svg" title="firebase" alt="loading....">
                    <span><mat-progress-bar mode="determinate" value="90" color="accent"></mat-progress-bar></span>
                </div>

                <div class="skill">
                    <img src="assets/icons/mssql.svg" title="MSSQL Server" alt="loading....">
                    <img src="assets/icons/mongodb.svg" title="mongodb" alt="loading....">
                    <span><mat-progress-bar mode="determinate" value="90" color="accent"></mat-progress-bar></span>
                </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>