<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="projcontainer">
            <div class="project-description">
              <div class="item1 projimgtrans">
                <img src="assets/projects.svg" alt="">
              </div>
              <div class="item2 projdesctrans">
                <div class="project-text">
                  <h1 class="title">Projects</h1>
                  <p class="description">My projects makes use of vast variety of latest technology tools. My best experience is to create Full Stack projects web applications/ websites and deploy them to using cloud infrastructure.</p>
                </div>
              </div>
            </div>
        </div>
    </main>
</body>
</html>