<section class="contact-section">
    <span class="contact-image-box">
        <img src="assets/me.png" data-aos="fade-up" alt="" class="contact-image" srcset="">
    </span>
    <span class="contact-text-content" data-aos="fade-right">
        <h1 class="contact-title">Contact Me</h1>
        <p class="contact-subtitle">Hello there! If you have any queries, collaboration, opportunities or simply want to
            say hello, I'd love to hear from you. I am active mostly on all social media's mentioned below, Please feel
            free to reach out using any of the following methods:</p>
        <span class="social-media">
            <img src="assets/github.svg" (click)="NewTab.openNewTab(NewTab.github)" alt="" class="social">
            <img src="assets/mail.svg" (click)="NewTab.openNewTab(NewTab.gmail)" alt="" class="social">
            <img src="assets/linkedin.svg" (click)="NewTab.openNewTab(NewTab.linkedin)" alt="" class="social">
            <img src="assets/facebook.svg" (click)="NewTab.openNewTab(NewTab.facebook)" alt="" class="social">
            <img src="assets/instagram.svg" (click)="NewTab.openNewTab(NewTab.instagram)" alt="" class="social">
            <img src="assets/youtube.svg" (click)="NewTab.openNewTab(NewTab.youtube)" alt="" class="social">
        </span>
        <span class="resume-box">
            <button class="resume-btn" (click)="NewTab.openNewTab(NewTab.resume)">See My Resume</button>
        </span>
    </span>
</section>

<section class="contact-section back">
    <span class="contact-text-content" data-aos="fade-right">
        <h1 class="contact-title">Blogs</h1>
        <p class="contact-subtitle">Yes, I am Astronomical nerd, whos loves to write blogs on astronomy on my free time, So discover the cosmos through captivating astronomical blogs. Join me on a stellar journey into the wonders of the universe. Welcome to the celestial adventure!</p>
        <span class="resume-box">
            <button class="resume-btn" (click)="NewTab.openNewTab(NewTab.blogs)">My Blog Site</button>
        </span>
    </span>
    <span class="contact-image-box">
        <img src="assets/space.svg" data-aos="fade-up" alt="loading" class="contact-image back">
    </span>
</section>