<section class="heroic-section">
    <div class="text-content animate">
        <div data-aos="flip-left">
            <h1 class="heroic-name">Hi, I am Krishna Sonune</h1>
            <h1 class="anim-text"><span class="context"></span><span class="cursor">|</span></h1>
            <span class="social-media">
                <img src="assets/facebook.svg" alt="" class="media" (click)="NewTab.openNewTab(NewTab.facebook)">
                <img src="assets/mail.svg" alt="" class="media" (click)="NewTab.openNewTab(NewTab.gmail)">
                <img src="assets/linkedin.svg" alt="" class="media" (click)="NewTab.openNewTab(NewTab.linkedin)">
                <img src="assets/youtube.svg" alt="" class="media" (click)="NewTab.openNewTab(NewTab.youtube)">
                <img src="assets/github.svg" alt="" class="media" (click)="NewTab.openNewTab(NewTab.github)">
                <img src="assets/instagram.svg" alt="" class="media" (click)="NewTab.openNewTab(NewTab.instagram)">
            </span>
            <div>
                <button class="follow-github" (click)="NewTab.openNewTab(NewTab.star_me)">⭐ Star me on Github</button>
            </div>
        </div>
    </div>

    <div class="heroic-image-box">
        <img src="assets/feeling_proud.svg" data-aos="flip-right" alt="loading...." class="heroic-image">
    </div>
</section>

<div class="heading">
    <h1>What I Do ?</h1>
</div>

<section class="what_i_do">
    <div class="about-image-box">
        <img src="assets/programming.svg"  data-aos="flip-right" class="about-image animate" alt="">
    </div>
    <div class="about-me">
        <h1 class="about-heading animate" data-aos="flip-left">Full Stack Development</h1>
        <span class="skill-set animate" data-aos="flip-left">
            <img src="assets/skills_icons/angularjs.svg" alt="" title="Angular" class="skill">
            <img src="assets/skills_icons/html-5.svg" alt="" title="HTML" class="skill">
            <img src="assets/skills_icons/css3.svg" alt="" title="CSS" class="skill">
            <img src="assets/skills_icons/typescript.svg" alt="" title="Typescript" class="skill">
            <img src="assets/skills_icons/javascript.svg" alt="" title="Javascript" class="skill">
            <img src="assets/skills_icons/nodejs.svg" alt="" title="NodeJS" class="skill">
            <img src="assets/skills_icons/npm.svg" alt="" title="npm" class="skill">
        </span>
        <div class="about-me-details animate" data-aos="flip-left">
            <p class="points">⚡ Translate UI/UX designs and wireframes into responsive and interactive web pages.</p>
            <p class="points">⚡ Ensure the technical feasibility of UI/UX designs and optimize them for maximum speed and scalability.</p>
            <p class="points">⚡ Integrate third-party libraries, plugins, and APIs to enhance application functionality.</p>
            <p class="points">⚡ Implement animations and transitions to enhance user interactions and engagement.</p>
        </div>
    </div>
</section>

<section class="what_i_do back">
    <div class="about-me">
        <h1 class="about-heading animate" data-aos="flip-right">Backend Development</h1>
        <span class="skill-set animate" data-aos="flip-right">
            <img src="assets/skills_icons/netframework.svg" alt="" title="NET Core" class="skill">
            <img src="assets/skills_icons/csharp.svg" alt="" title="C#" class="skill">
            <img src="assets/skills_icons/mongo.svg" alt="" title="MongoDB" class="skill">
            <img src="assets/skills_icons/mssql.svg" alt="" title="SQL Server" class="skill">
            <img src="assets/skills_icons/oracle.svg" alt="" title="oracle" class="skill">
            <img src="assets/skills_icons/postgres.svg" alt="" title="Postgres" class="skill">
            <img src="assets/skills_icons/firebase.svg" alt="" title="Firebase" class="skill">
        </span>
        <div class="about-me-details animate" data-aos="flip-right">
            <p class="points">⚡ Develop and maintain server-side applications and web services to handle data processing and business logic.</p>
            <p class="points">⚡ Design and implement APIs for seamless communication between the front-end and back-end systems.</p>
            <p class="points">⚡ Create and manage databases, ensuring data integrity, security, and efficient querying.</p>
            <p class="points">⚡ Optimize application performance and scalability to handle increasing user loads.</p>
            <p class="points">⚡ Handle server-side security concerns, including Token implementation, data encryption and protection against common vulnerabilities.</p>
        </div>
    </div>

    <div class="about-image-box">
        <img src="assets/backend.svg" data-aos="flip-left" class="about-image animate" alt="">
    </div>
</section>

<section class="what_i_do">
    <div class="about-image-box">
        <img src="assets/cloud-hosting.svg" data-aos="flip-right" class="about-image animate" alt="">
    </div>
    <div class="about-me">
        <h1 class="about-heading animate" data-aos="flip-left">Cloud Hosting & Designing</h1>
        <span class="skill-set animate" data-aos="flip-left">
            <img src="assets/skills_icons/aws.svg" alt="" title="Aws" class="skill">
            <img src="assets/skills_icons/Azure.svg" title="Azure" alt="" class="skill">
            <img src="assets/skills_icons/docker.svg" alt="" title="Docker" class="skill">
            <img src="assets/skills_icons/heroku-logo.svg" alt="" title="Heroku" class="skill">
            <img src="assets/skills_icons/figma.svg" alt="" title="Figma" class="skill">
        </span>
        <div class="about-me-details animate" data-aos="flip-left">
            <p class="points">⚡ Deploy, and manage cloud infrastructure, including virtual machines, Websites, along with integration of databases.</p>
            <p class="points">⚡ Worked with development and operations teams to ensure seamless integration of applications with cloud services.</p>
            <p class="points">⚡ Designing highly attractive user interface for applications.</p>
            <p class="points">⚡ Create wireframes, prototypes, and mockups to visualize and communicate design ideas.</p>
        </div>
    </div>
</section>