<section class="opensrc-section">
    <div class="leetcode-img-box" data-aos="fade-up">
        <h1 class="stats-title">Hackerrank Statistics</h1>
        <canvas baseChart [datasets]="chartData" [type]="'doughnut'" [legend]="true" [labels]="chartLabels"
            [options]="chartOptions">
        </canvas>
    </div>
    <div class="leetcode-img-box" data-aos="fade-up">
        <h1 class="stats-title">LeetCode Statistics</h1>
        <canvas baseChart [datasets]="leetcodeChartData" [type]="'doughnut'" [legend]="true" [labels]="chartLabels"
            [options]="chartOptions">
        </canvas>
    </div>
    
</section>

<section class="heatmap-section">
    <span class="heatmapchart">
        <app-heatmap [zArray]="leetcode" [title]="'Leetcode Submission Statistics'" *ngIf="isLeetCodeCalFetched"></app-heatmap>
    </span>
</section>
<h2 class="heatmap-title">LeetCode Contributions</h2>
<section class="submission-section">

    <span class="leet-card" *ngFor="let data of leetcodeSubmissions">
        <app-leetcode-card [leetcode_data]="data" ></app-leetcode-card>
    </span>

</section>

<section class="heatmap-section">
    <span class="heatmapchart">
        <app-heatmap [zArray]="github" [title]="'Github Contributions Statistics'" *ngIf="isGithubFetched"></app-heatmap>
    </span>
</section>
<h2 class="heatmap-title">Github Contributions</h2>