*{
    margin: 0;
    padding: 0;
}
html, body { height: 100%; scroll-behavior: smooth; overflow-x: hidden;}
body{ 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-body p, .mat-body h1, .mat-body h2, .mat-body h3
 .mat-body-1 p, .mat-body-1 h1, .mat-body-1 h2, .mat-body-1 h3
  .mat-typography.mat-body p,
  .mat-typography .mat-body h1, 
  .mat-typography .mat-body h2, 
  .mat-typography .mat-body h3,
  .mat-typography .mat-body-1 p,
  .mat-typography .mat-body-1 h1,
  .mat-typography .mat-body-1 h2,
  .mat-typography .mat-body-1 h3,
  .mat-typography p,
  .mat-typography h1,
  .mat-typography h2,
  .mat-typography h3{
    margin: 0;
}