<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="project-repo" >
          <div class="proj1 cardtrans">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>MarvelFlix</mat-card-title>
                  <!-- <img mat-card-md-image src="{{u.projImg}}" alt="Photo of a Shiba Inu"> -->
                </mat-card-title-group>
            </mat-card-header>
          <mat-card-content>
            <p>
              Video streaming webApp with all Marvel's contents in it. you can enjoy all latest marvel contents in HD without any ads & its free for all users around the world.
            </p>
          </mat-card-content>
          <span>
              <img class="tech-used" src="assets/icons/angularjs.svg" alt="">
              <img class="tech-used" src="assets/icons/nodejs.svg" alt="">
              <img class="tech-used" src="assets/icons/mssql.svg" alt="">
          </span>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a [href]="marvelflix" mat-flat-button>Link</a>
          </mat-card-actions>
          </mat-card> 
          </div>

          <div class="proj2 cardtrans">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>NavMusic</mat-card-title>
                  <!-- <img mat-card-md-image src="{{u.projImg}}" alt="Photo of a Shiba Inu"> -->
                </mat-card-title-group>
            </mat-card-header>
          <mat-card-content>
            <p>
              The complete online music player webApps with unlimited non-stop music & ads free music, all this content is free for all users around the world.
            </p>
          </mat-card-content>
          <span>
              <img class="tech-used" src="assets/icons/angularjs.svg" alt="">
              <img class="tech-used" src="assets/icons/nodejs.svg" alt="">
              <img class="tech-used" src="assets/icons/firebase.svg" alt="">
          </span>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a [href]="navmusic" mat-flat-button>Link</a>
          </mat-card-actions>
          </mat-card> 
          </div>
          <div class="proj3 cardtrans">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>MarvelSpot</mat-card-title>
                  <!-- <img mat-card-md-image src="{{u.projImg}}" alt="Photo of a Shiba Inu"> -->
                </mat-card-title-group>
            </mat-card-header>
          <mat-card-content>
            <p>
              MarvelSpot webApp gets all details about Marvel Events, characters, comics, series, timelines etc. using its Free Marvel API
            </p>
          </mat-card-content>
          <span >
              <img class="tech-used" src="assets/icons/angularjs.svg" alt="">
              <img class="tech-used" src="assets/icons/nodejs.svg" alt="nodejs">
          </span>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a [href]="marvelspot" mat-flat-button>Link</a>
          </mat-card-actions>
          </mat-card> 
          </div>
        </div>
    </main>
</body>
</html>